.list-header{
    color:  rgb(3, 1, 15);
    margin-top: 2rem;
    margin-bottom: 5px;
    
}
table {
    width: 100%; 
    border-collapse: collapse;
}

th, td {
    text-align: center; 
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 3px; 
}

th {
    background:  rgb(3, 1, 15);
    color: white;
}