.form{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
.modal h2{
  justify-self: center;
  padding-bottom:20px;
}
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
  }
  .modal-content label{
    padding-right: 4px;
  }
.modal-content button{
  background:  rgb(3, 1, 15);
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  
}
.modal-content button:hover{
  transform: scale(1.1);
  cursor: pointer;
}
